.contenedor {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-side {
    width: 50%;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right-side {
    width: 50%;
    position: relative;
    overflow: hidden;
}

.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    padding: 15px 0;
    margin: 10px 0;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.boton:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: white;
}

.salon {
    background-color: #666;
}

    .salon:hover {
        background-color: #555;
    }

.administracion {
    background-color: #666;
}

    .administracion:hover {
        background-color: #555;
    }

.reporte {
    background-color: #666;
}

    .reporte:hover {
        background-color: #555;
    }


.right-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(240,240,240,0), rgba(240,240,240,1));
    z-index: 1;
}

.right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.NoReporte, .NoAdministracion {
    background-color: #ccc; /* Color de fondo para indicar que está inactivo */
    color: #888; /* Color de texto más claro */
    cursor: not-allowed; /* Cursor para indicar que no es clickeable */
    pointer-events: none; /* Evita que se haga clic en el botón */
    opacity: 0.6; /* Transparencia para darle un efecto inactivo */
}