.main-reports {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu-left {
    text-align: left;
    background-color: #dddddd;
    width: 15%;
    border-right: 0.1px solid #b9b9b9;
}

.menu-left ul {
    margin: 10px 0px 0px 15px;
    list-style: none;
}

.menu-left ul li{
    margin-top: 10px;
}

.menu-left ul li a {
    text-decoration: none;
    color: black;
}

.menu-left ul li a:hover {
    text-decoration: underline;
}

.reports-dashboard {
    height: 100%;
    width: 85%;
}

.dashboard-one, .dashboard-two {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttonbox {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    background-color: #dadada;
    padding: 5px;
    border-radius: 8px;
}

.single-button {
    padding: 4px 8px;
    border: none;
    background-color: transparent;
}

.single-button:hover {
    background-color: #c5c5c5;
    border-radius: 8px;
}

.single-button:active {
    background-color: #bababa;
    border-radius: 8px;
}

.insumo-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.table-style {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-style th, .table-style td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-style th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.top-sellers, .least-sellers, .insumo-one, .insumo-two {
    width: 450px;
    height: 250px;
}

.insumo-one, .insumo-two {
    display: flex;
    flex-direction: column;
}

.order-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.negrita{
    font-weight: bold;
}